<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table style="width: 100%;height: 100%">
		<tr>
			<td>
				<a href="http://127.0.0.1:8080/pcci/credit" target="_blank">征信综合</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="http://127.0.0.1:8080/pcci/100credit/testTer" target="_blank">百融批量打包测试</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="http://127.0.0.1:8080/pcci/100credit/testDasCri" target="_blank">个人不良信息查询测试</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="http://127.0.0.1:8080/pcci/100credit/testDasPer" target="_blank">个人对外投资查询测试</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="http://127.0.0.1:8080/pcci/100credit/testDasExe" target="_blank">法院被执行人</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="http://127.0.0.1:8080/pcci/qianhai/testSetting" target="_blank">钱海测试</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#" target="_blank">*</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#" target="_blank">*</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#" target="_blank">*</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#" target="_blank">*</a>
			</td>
		</tr>
	</table>
	
</body>
</html>